<a href="https://colab.research.google.com/github/adil-ak/Deep_Learning_Projects/blob/main/Regression_House_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df=pd.read_csv("kc_house_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [3]:
df.drop(['id','date'],axis=1,inplace=True)
df.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [4]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [10]:
from sklearn.preprocessing import MinMaxScaler
scalar=MinMaxScaler()

In [11]:
cols=['sqft_living','sqft_lot','grade','sqft_above','sqft_basement','yr_built','lat','long','sqft_living15','sqft_lot15']
df[cols]=scalar.fit_transform(df[cols])
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,0.067170,0.003108,1.0,0,0,3,0.500000,0.097588,0.000000,0.478261,0,98178,0.571498,0.217608,0.161934,0.005742
1,538000.0,3,2.25,0.172075,0.004072,2.0,0,0,3,0.500000,0.206140,0.082988,0.443478,1991,98125,0.908959,0.166113,0.222165,0.008027
2,180000.0,2,1.00,0.036226,0.005743,1.0,0,0,3,0.416667,0.052632,0.000000,0.286957,0,98028,0.936143,0.237542,0.399415,0.008513
3,604000.0,4,3.00,0.126038,0.002714,1.0,0,0,5,0.500000,0.083333,0.188797,0.565217,0,98136,0.586939,0.104651,0.165376,0.004996
4,510000.0,3,2.00,0.104906,0.004579,1.0,0,0,3,0.583333,0.152412,0.000000,0.756522,0,98074,0.741354,0.393688,0.241094,0.007871

In [13]:
x=df.drop(['price','zipcode','yr_renovated'],axis=1)
y=df['price']

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [14]:
df.shape

(21613, 19)

In [34]:
from tensorflow import keras

model=keras.Sequential([keras.layers.Dense(100,activation='relu',input_shape=(16,)),
                        keras.layers.Dense(100,activation='relu'),
                        keras.layers.Dense(100,activation='relu'),
                      keras.layers.Dense(1,activation='linear')])

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [35]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['R2Score'])

In [39]:
model.fit(x_train,y_train,epochs=100)

Epoch 1/100
541/541  1s 2ms/step - R2Score: 0.5087 - loss: 64134737920.0000
Epoch 2/100
541/541  1s 2ms/step - R2Score: 0.5266 - loss: 62677856256.0000
Epoch 3/100
541/541  1s 2ms/step - R2Score: 0.5621 - loss: 54890479616.0000
Epoch 4/100
541/541  2s 3ms/step - R2Score: 0.5991 - loss: 51663216640.0000
Epoch 5/100
541/541  2s 2ms/step - R2Score: 0.6260 - loss: 48666595328.0000
Epoch 6/100
541/541  1s 2ms/step - R2Score: 0.6432 - loss: 50947125248.0000
Epoch 7/100
541/541  1s 2ms/step - R2Score: 0.6628 - loss: 41829548032.0000
Epoch 8/100
541/541  1s 2ms/step - R2Score: 0.6802 - loss: 42783174656.0000
Epoch 9/100
541/541  1s 2ms/step - R2Score: 0.6835 - loss: 40039092224.0000
Epoch 10/100
541/541  1s 2ms/step - R2Score: 0.6911 - loss: 38104825856.0000
Epoch 11/100
541/541  1s 2ms/step - R2Score: 0.7148 - loss: 38109999104.0000
Epoch 12/100
541/541  1s 2ms/step - R2Score: 0.7194 - loss: 37297893376.0000
Epoch 13/100
541/541  1s 2ms/step - R2Score: 0.7105 - loss: 36215832576.0000
Epoch 14/100
541/541  1s 2ms/step - R2Score: 0.7242 - loss: 38636736512.0000
Epoch 15/100
541/541  2s 3ms/step - R2Score: 0.7196 - loss: 34915614720.0000
Epoch 16/100
541/541  2s 2ms/step - R2Score: 0.7203 - loss: 35060559872.0000
Epoch 17/100
541/541  1s 2ms/step - R2Score: 0.7308 - loss: 35425034240.0000
Epoch 18/100
541/541  1s 2ms/step - R2Score: 0.7290 - loss: 34416881664.0000
Epoch 19/100
541/541  1s 2ms/step - R2Score: 0.7262 - loss: 33681022976.0000
Epoch 20/100
541/541  1s 2ms/step - R2Score: 0.7333 - loss: 32283459584.0000
Epoch 21/100
541/541  1s 2ms/step - R2Score: 0.7398 - loss: 35095769088.0000
Epoch 22/100
541/541  1s 2ms/step - R2Score: 0.7422 - loss: 32919504896.0000
Epoch 23/100
541/541  1s 2ms/step - R2Score: 0.7475 - loss: 34665349120.0000
Epoch 24/100
541/541  1s 2ms/step - R2Score: 0.7316 - loss: 33370195968.0000
Epoch 25/100
541/541  2s 3ms/step - R2Score: 0.7530 - loss: 33191012352.0000
Epoch 26/100
541/541  2s 2ms/step - R2Score: 0.7557 - loss: 32084056064.0000
Epoch 27/100
541/541  1s 2ms/step - R2Score: 0.7428 - loss: 33361090560.0000
Epoch 28/100
541/541  1s 2ms/step - R2Score: 0.7482 - loss: 31939520512.0000
Epoch 29/100
541/541  1s 2ms/step - R2Score: 0.7516 - loss: 30809329664.0000
Epoch 30/100
541/541  1s 2ms/step - R2Score: 0.7585 - loss: 31199340544.0000
Epoch 31/100
541/541  1s 2ms/step - R2Score: 0.7475 - loss: 31073544192.0000
Epoch 32/100
541/541  1s 2ms/step - R2Score: 0.7568 - loss: 32119465984.0000
Epoch 33/100
541/541  1s 2ms/step - R2Score: 0.7735 - loss: 32356345856.0000
Epoch 34/100
541/541  1s 2ms/step - R2Score: 0.7522 - loss: 31876134912.0000
Epoch 35/100
541/541  2s 3ms/step - R2Score: 0.7611 - loss: 31777558528.0000
Epoch 36/100
541/541  2s 3ms/step - R2Score: 0.7674 - loss: 31324051456.0000
Epoch 37/100
541/541  1s 2ms/step - R2Score: 0.7637 - loss: 30713001984.0000
Epoch 38/100
541/541  1s 2ms/step - R2Score: 0.7546 - loss: 30006167552.0000
Epoch 39/100
541/541  1s 2ms/step - R2Score: 0.7539 - loss: 31517315072.0000
Epoch 40/100
541/541  1s 2ms/step - R2Score: 0.7461 - loss: 30176333824.0000
Epoch 41/100
541/541  1s 2ms/step - R2Score: 0.7531 - loss: 31515078656.0000
Epoch 42/100
541/541  1s 2ms/step - R2Score: 0.7827 - loss: 29979535360.0000
Epoch 43/100
541/541  1s 2ms/step - R2Score: 0.7697 - loss: 29492082688.0000
Epoch 44/100
541/541  1s 2ms/step - R2Score: 0.7694 - loss: 31532156928.0000
Epoch 45/100
541/541  1s 2ms/step - R2Score: 0.7612 - loss: 32470931456.0000
Epoch 46/100
541/541  2s 3ms/step - R2Score: 0.7590 - loss: 30121021440.0000
Epoch 47/100
541/541  2s 3ms/step - R2Score: 0.7694 - loss: 29432551424.0000
Epoch 48/100
541/541  2s 2ms/step - R2Score: 0.7694 - loss: 29694806016.0000
Epoch 49/100
541/541  1s 2ms/step - R2Score: 0.7525 - loss: 31400218624.0000
Epoch 50/100
541/541  1s 2ms/step - R2Score: 0.7788 - loss: 30833793024.0000
Epoch 51/100
541/541  1s 2ms/step - R2Score: 0.7662 - loss: 28435636224.0000
Epoch 52/100
541/541  1s 2ms/step - R2Score: 0.7862 - loss: 30657644544.0000
Epoch 53/100
541/541  1s 2ms/step - R2Score: 0.7730 - loss: 30620399616.0000
Epoch 54/100
541/541  1s 2ms/step - R2Score: 0.7723 - loss: 29865793536.0000
Epoch 55/100
541/541  1s 2ms/step - R2Score: 0.7819 - loss: 30167683072.0000
Epoch 56/100
541/541  1s 2ms/step - R2Score: 0.7708 - loss: 29908762624.0000
Epoch 57/100
541/541  2s 3ms/step - R2Score: 0.7632 - loss: 29379383296.0000
Epoch 58/100
541/541  2s 2ms/step - R2Score: 0.7856 - loss: 28470364160.0000
Epoch 59/100
541/541  1s 2ms/step - R2Score: 0.7653 - loss: 29993793536.0000
Epoch 60/100
541/541  1s 2ms/step - R2Score: 0.7749 - loss: 30494427136.0000
Epoch 61/100
541/541  1s 2ms/step - R2Score: 0.7570 - loss: 29726156800.0000
Epoch 62/100
541/541  1s 2ms/step - R2Score: 0.7933 - loss: 29381828608.0000
Epoch 63/100
541/541  1s 2ms/step - R2Score: 0.7712 - loss: 30895267840.0000
Epoch 64/100
541/541  1s 2ms/step - R2Score: 0.7774 - loss: 30298957824.0000
Epoch 65/100
541/541  1s 2ms/step - R2Score: 0.7802 - loss: 31779717120.0000
Epoch 66/100
541/541  1s 2ms/step - R2Score: 0.7705 - loss: 29647841280.0000
Epoch 67/100
541/541  2s 3ms/step - R2Score: 0.7686 - loss: 27436720128.0000
Epoch 68/100
541/541  2s 3ms/step - R2Score: 0.7790 - loss: 30670794752.0000
Epoch 69/100
541/541  1s 2ms/step - R2Score: 0.7722 - loss: 29832083456.0000
Epoch 70/100
541/541  1s 2ms/step - R2Score: 0.7730 - loss: 26957615104.0000
Epoch 71/100
541/541  1s 2ms/step - R2Score: 0.7830 - loss: 31125975040.0000
Epoch 72/100
541/541  1s 2ms/step - R2Score: 0.7897 - loss: 29378840576.0000
Epoch 73/100
541/541  1s 2ms/step - R2Score: 0.7673 - loss: 28185393152.0000
Epoch 74/100
541/541  1s 2ms/step - R2Score: 0.7800 - loss: 30088878080.0000
Epoch 75/100
541/541  1s 2ms/step - R2Score: 0.7849 - loss: 28449183744.0000
Epoch 76/100
541/541  1s 2ms/step - R2Score: 0.7928 - loss: 26961061888.0000
Epoch 77/100
541/541  1s 2ms/step - R2Score: 0.7725 - loss: 27680782336.0000
Epoch 78/100
541/541  1s 3ms/step - R2Score: 0.7720 - loss: 28614449152.0000
Epoch 79/100
541/541  2s 3ms/step - R2Score: 0.7875 - loss: 27904110592.0000
Epoch 80/100
541/541  2s 2ms/step - R2Score: 0.7794 - loss: 29015793664.0000
Epoch 81/100
541/541  1s 2ms/step - R2Score: 0.7846 - loss: 29023531008.0000
Epoch 82/100
541/541  1s 2ms/step - R2Score: 0.7789 - loss: 29327351808.0000
Epoch 83/100
541/541  1s 2ms/step - R2Score: 0.7889 - loss: 29240350720.0000
Epoch 84/100
541/541  1s 2ms/step - R2Score: 0.7739 - loss: 26641670144.0000
Epoch 85/100
541/541  1s 2ms/step - R2Score: 0.7752 - loss: 27212931072.0000
Epoch 86/100
541/541  1s 2ms/step - R2Score: 0.7851 - loss: 27841853440.0000
Epoch 87/100
541/541  1s 2ms/step - R2Score: 0.7766 - loss: 27183370240.0000
Epoch 88/100
541/541  2s 3ms/step - R2Score: 0.7912 - loss: 28441294848.0000
Epoch 89/100
541/541  2s 3ms/step - R2Score: 0.7941 - loss: 26925148160.0000
Epoch 90/100
541/541  2s 2ms/step - R2Score: 0.7950 - loss: 28241203200.0000
Epoch 91/100
541/541  1s 2ms/step - R2Score: 0.7747 - loss: 27255832576.0000
Epoch 92/100
541/541  1s 2ms/step - R2Score: 0.7760 - loss: 27525480448.0000
Epoch 93/100
541/541  1s 2ms/step - R2Score: 0.7616 - loss: 30392129536.0000
Epoch 94/100
541/541  1s 2ms/step - R2Score: 0.7973 - loss: 27882350592.0000
Epoch 95/100
541/541  1s 2ms/step - R2Score: 0.7771 - loss: 28120244224.0000
Epoch 96/100
541/541  1s 2ms/step - R2Score: 0.7765 - loss: 28129349632.0000
Epoch 97/100
541/541  1s 2ms/step - R2Score: 0.7912 - loss: 28614860800.0000
Epoch 98/100
541/541  2s 3ms/step - R2Score: 0.7812 - loss: 27581609984.0000
Epoch 99/100
541/541  2s 2ms/step - R2Score: 0.7670 - loss: 27707699200.0000
Epoch 100/100
541/541  1s 2ms/step - R2Score: 0.7881 - loss: 27551723520.0000

In [40]:
model.evaluate(x_test,y_test)

136/136  0s 1ms/step - R2Score: 0.7578 - loss: 34848505856.0000

[36595249152.0, 0.7579308748245239]

In [42]:
from sklearn.metrics import r2_score
y_pred=model.predict(x_test)
r2_score(y_test,y_pred)*100

136/136  0s 1ms/step

75.7930668947816